/* Hide verse markers visually but keep them in DOM for navigation */
span.verse {
    display: none;
}

/* Show verse numbers when enabled */
body.show-verses span.verse {
    display: inline;
}

body.show-verses span.verse::before {
    content: attr(data-verse-number);
    font-size: 0.7rem;
    vertical-align: super;
    color: #888;
    margin-right: 0.2rem;
}

/* h3 for Hebrew letter headings in Psalm 119 */
h3 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
